body{
    background-color: rgb(109, 118, 245);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199);
}

footer{
    text-align: center;
    color: white;
    font-style: italic;
}